@*@using myBankApplication.ViewModels
@model List<AppUsersViewModel>*@

@model IEnumerable<myBankApplication.Models.AppUsersModel>


<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/sideNav.css">
    <link rel="stylesheet" href="~/css/home.css">
    <link rel="stylesheet" href="~/css/header.css">
    <link rel="stylesheet" href="~/css/ThreeColoumn.css">

    <script src="https://kit.fontawesome.com/6703c9cc10.js" crossorigin="anonymous"></script>
<style>
.card {
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
width: 100%;
height:100%;
border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
border-radius: 50%;
display: block;
margin-left: auto;
margin-right: auto;
}

.container {
padding: 2px 16px;
text-align:center;
}
</style>

</head>
<body>

@{
    Layout = "~/Views/Shared/SideNav.cshtml";
}

<div class="content">
<div class="container">
<div class="row">
<div class="col">
    <form asp-controller="AppUsers" asp-action="Index">
    
        <p>
            Seach by name or email: <input type="text" name="searchString" />
            <input type="submit" value="Filter" />
        </p>
    </form>
    @foreach (var user in Model)
    {
            <div class=" column">
            <div class="card">
                <img alt="Image profile avatar" src="@user.Profile_Picture" style="width:30%; height:50%;">
                <div class="container">
                    <h4><b>@user.FName @user.LName</b></h4>
                    <h5>@user.Email</h5>
                     <a class="cta-button buttonColor" asp-controller="AppUsers" asp-action="UserDetail" asp-route-id="@user.Id">
                        View Profile
                    </a>
                </div>
            </div>
            </div>
        }
    </div>
</div>
</div>
</div>
</body>
</html>