
@using myBankApplication.ViewModels
@model DashboardViewModel


<!DOCTYPE html>
<html>
<head>

    <style>
        #tableStyle {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

            #tableStyletd, #tableStyle th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #tableStyle tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            #tableStyle tr:hover {
                background-color: #ddd;
            }

            #tableStyle th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #04AA6D;
                color: white;
            }

        table, th, td {
            border: 1px solid;
        }

    </style>

</head>

<h1>User</h1>

<div style="overflow-x: auto;">
    <table id="tableStyle">
        <tr>
            <th>Accout Number</th>
            <th>SortCode</th>
            <th>Account Type</th>
            <th>Balance</th>
            <th>Date Opened</th>
            <th>Status</th>


        </tr>
        @foreach (var account in Model.Accounts)
        {


            <tr>
                <td>@account.AccountNo</td>
                <td>@account.Sort_Code</td>
                <td> @account.AccountType </td>
                <td>@account.Balance</td>
                <td>@account.Date_Opened</td>
                <td>@account.Status</td>
                
          
            </tr>


        }
    </table>
</div>

</section>
</html>