@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUsersModel> SignInManager

@using myBankApplication.ViewModels
@model ListTransactionByAccountNoVM


<section class="space-sm flush-with-above">
    <div class="container">
        @if (Model.NoTransactionWarning == true)
        {
            <h1 class="fw-light">
                There are no running clubs in your area! <a asp-area="" asp-controller="Account"
                                                        asp-action="Login">Login</a> and create one!
            </h1>
        }
        else
        {
            <h1>Running Clubs in @Model.AccountNo, @Model.Transactions</h1>
        }
        <ul class="row feature-list feature-list-sm">
            @foreach (var club in Model.Transactions)
            {
                <li class="col-12 col-md-6 col-lg-4">
                    <div class="card">
                        <a type="button" asp-controller="Club" asp-action="Detail" asp-route-id="@club.Id">
                            <img class="card-img-top" src="@club.Id" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">@club.Amount</h4>
                            <p class="card-text">@club.Reference</p>
                        </div>
                        <div class="card-footer card-footer-borderless d-flex justify-content-between">
                            <div>
                                <small>@club.AppUserId</small>
                            </div>
                           
                    </div>
                </li>
            }
        </ul>
    </div>
</section>