@*@using myBankApplication.ViewModels
@model List<IndexTransactionsViewModel>*@

@model IEnumerable<myBankApplication.Models.TransactionModel>
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="~/css/sideNav.css">
<link rel="stylesheet" href="~/css/home.css">
<link rel="stylesheet" href="~/css/header.css">
<link rel="stylesheet" href="~/css/Table.css">
<script src="https://kit.fontawesome.com/6703c9cc10.js" crossorigin="anonymous"></script>


</head>
<body>
    @{
        Layout = "~/Views/Shared/SideNav.cshtml";
    }

<div class="content">

<form asp-controller="Transaction" asp-action="Index">

    <p>
        filter by reference: <input type="text" name="reference" />
        <input type="submit" value="Filter" />
        Seach by Account No: <input type="text" name="accountNumber" />
        <input type="submit" value="Serch" />
    </p>
</form>
      
<div style="overflow-x: auto;">
    <table id="tableStyle">
        <tr>
            <th>Transaction ID</th>
            <th>From Account</th>
            <th>To Account</th>
            <th>Recipient</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Transaction Tyoe</th>
            <th>Reference</th>


        </tr>
       
        @foreach (var transactions in Model)
        {


            <tr>
                <td>@transactions.Id</td>
                <td> @transactions.ToAccount </td>
                <td> @transactions.DestAccount </td>
                <td> @transactions.RecipientName </td>
                <td class="currency-code">£@transactions.Amount.ToString("0.00") </td>
                <td> @transactions.Date </td>
                <td> @transactions.TransactionType </td>
                <td> @transactions.Reference </td>
                

            </tr>


        }
    </table>
</div>






</div>
</body>
</html>