@using myBankApplication.ViewModels
@model List<IndexChequeViewModel>
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/sideNav.css">
    <link rel="stylesheet" href="~/css/home.css">
    <link rel="stylesheet" href="~/css/header.css">
    <link rel="stylesheet" href="~/css/Table.css">
    <script src="https://kit.fontawesome.com/6703c9cc10.js" crossorigin="anonymous"></script>


</head>
<body>
    @{
        Layout = "~/Views/Shared/SideNav.cshtml";
    }

    <div class="content">
        <div style="overflow-x: auto;">
            <table id="tableStyle">
                <tr>
                    <th>ID</th>
                    <th>Account holder Id</th>
                    <th>Amount</th>
                    <th>Reference</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>details</th>


                </tr>
                @foreach (var cheques in Model)
                {


                    <tr>
                        <td>@cheques.Id</td>
                        <td> @cheques.AppUserId </td>
                        <td class="currency-code">£@cheques.Amount.ToString("0.00") </td>
                        <td> @cheques.Description </td>
                        <td> @cheques.Date </td>
                        <td>@cheques.Status</td>
                        <td> Pay Cheque </td>
                        <td><a asp-controller="DepositCheque" asp-action="Detail" asp-route-id="@cheques.Id"> More details</a></td>


                    </tr>


                }
            </table>
        </div>






    </div>
</body>
</html>