@using myBankApplication.ViewModels
@model List<IndexBankCardsViewModel>
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/sideNav.css">
    <link rel="stylesheet" href="~/css/home.css">
    <link rel="stylesheet" href="~/css/header.css">
    <link rel="stylesheet" href="~/css/Table.css">
    <script src="https://kit.fontawesome.com/6703c9cc10.js" crossorigin="anonymous"></script>


</head>
<body>
@{
    Layout = "~/Views/Shared/SideNav.cshtml";
}


<div class="content">
<div style="overflow-x: auto;">
    <table id="tableStyle">
        <tr>
            <th>Crard Number</th>
            <th>Account Number</th>
            <th>Valid From</th>
            <th>Expiry Date</th>
            <th>Contacless limit</th>
            <th>Card Pin</th>
            <th>CVV</th>

        </tr>
    @foreach (var bankCards in Model)
    {
        <tr>
                        
            <td> @bankCards.CardNumber </td>
            <td>@bankCards.Account_Id</td>
            <td>@bankCards.ValidFrom</td>
            <td>@bankCards.ExpiryDate</td>
            <td>@bankCards.ContaclessLimit</td>
            <td>@bankCards.CardPin</td>
            <td>@bankCards.CVVNumber</td>
        </tr>


    }
         
    </table>
</div>
</div>
</body>
</html>